.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
}
.mobile-nav{
    list-style: none;
}

.header img {
    max-width: 150px;
}

/* Hide desktop navigation by default */
.desktop-nav {
    display: none; /* Hide by default */
}

/* Show desktop navigation on larger screens */
@media (min-width: 768px) {
    .desktop-nav {
        display: flex; /* Show on larger screens */
        list-style-type: none;
        gap: 2rem;
    }

    /* Hide the hamburger menu on larger screens */
    nav .MuiIconButton-root {
        display: none; /* Hide hamburger icon on larger screens */
    }
}

/* Styles for navigation links */
nav a, .mobile-nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Optional: Hover effect for links */
nav a:hover, .mobile-nav li a:hover {
    color: #ff5722;
}
