.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
}
.mobile-nav{
    list-style: none;
}

.header img {
    max-width: 150px;
}

/* Hide desktop navigation by default */
.desktop-nav {
    display: none;
}
.login_btn {
    background-color: yellow;
    padding: 0.8rem 1rem;
    border-radius: 100px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(206, 96, 96);
    margin-top: 50px;
    width: 100px;
    text-align: center;
}
.login_btn:hover {
    background-color: rgb(229, 249, 9);
}

/* Show desktop navigation on larger screens */
@media (min-width: 768px) {
    .desktop-nav {
        display: flex;
        list-style-type: none;
        gap: 2rem;
    }
    .login_btn {
        background-color: yellow;
        padding: 0.8rem 1rem;
        border-radius: 100px;
        text-decoration: none;
        font-weight: bold;
        color: black;
    }
    .login_btn:hover {
        background-color: rgb(229, 249, 9);
    }
    nav .MuiIconButton-root {
        display: none;
    }
}

/* Styles for navigation links */
nav a, .mobile-nav li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Optional: Hover effect for links */
nav a:hover, .mobile-nav li a:hover {
    color: #975845;
}
